body {
  color: #575757;
}

h1 {
  color: #ff890e;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 8px;
}

.reverted {
  transform: rotate(180deg) scaleX(-1);
}

.center {
  display: flex;
  justify-content: center;
}

.component {
  min-height: 272px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #575757;
  background: white;
  border: 2px solid #575757;
  box-shadow: 5px 5px 0 #173d7a, -5px -5px 0 #575757, -5px 5px 0 #575757, 5px -5px 0 #575757;
  transition: 500ms ease-in-out;
}

button.circle {
  box-shadow: 1px 1px 0 #173d7a, -1px -1px 0 #575757, -1px 1px 0 #575757, 1px -1px 0 #575757;
}

button:hover {
  box-shadow: 15px 5px 0 #173d7a, -15px -5px 0 #173d7a;
}

button:focus {
  outline: none;
}
